Basic-dashboard-example-flow.json
[{"id":"f2c5dcdf.1c92d","type":"tab","label":"Dashboard example 1","disabled":false,"info":""},{"id":"7bbc8ed0.6e25f","type":"ui_text","z":"f2c5dcdf.1c92d","group":"ce5df409.629f78","order":2,"width":3,"height":2,"name":"Example text output node","label":"You typed...","format":"{{msg.payload}}","layout":"col-center","x":860,"y":220,"wires":[]},{"id":"a313fc35.db80b","type":"ui_text_input","z":"f2c5dcdf.1c92d","name":"","label":"Enter some text","tooltip":"","group":"ce5df409.629f78","order":1,"width":3,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":570,"y":220,"wires":[["7bbc8ed0.6e25f"]]},{"id":"6ff4fb6f.47d6d4","type":"inject","z":"f2c5dcdf.1c92d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":590,"y":320,"wires":[["7bbc8ed0.6e25f"]]},{"id":"ce5df409.629f78","type":"ui_group","z":"","name":"Group 1","tab":"7ad701bf.dcd04","order":1,"disp":true,"width":3,"collapse":false},{"id":"7ad701bf.dcd04","type":"ui_tab","z":"","name":"Tab 1","icon":"fa-thermometer-full","disabled":false,"hidden":false}]