Button-flow.json
[{"id":"817d4221.c0685","type":"tab","label":"Button","disabled":false,"info":""},{"id":"4be79d0e.b610d4","type":"ui_button","z":"817d4221.c0685","name":"","group":"ce5df409.629f78","order":3,"width":3,"height":1,"passthru":false,"label":"button","tooltip":"Press me!","color":"blue","bgcolor":"white","icon":"fa-hand-o-down","payload":"clicked","payloadType":"str","topic":"","x":450,"y":240,"wires":[["ba9f6b02.fc3518"]]},{"id":"5cc380f2.45259","type":"ui_text","z":"817d4221.c0685","group":"ce5df409.629f78","order":4,"width":3,"height":2,"name":"","label":"Button State","format":"{{msg.payload}}","layout":"col-center","x":890,"y":240,"wires":[]},{"id":"ba9f6b02.fc3518","type":"trigger","z":"817d4221.c0685","name":"Reset button","op1":"clicked","op2":"not clicked","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":650,"y":240,"wires":[["5cc380f2.45259"]]},{"id":"ce5df409.629f78","type":"ui_group","z":"","name":"Group 1","tab":"7ad701bf.dcd04","order":1,"disp":true,"width":3,"collapse":false},{"id":"7ad701bf.dcd04","type":"ui_tab","z":"","name":"Tab 1","icon":"fa-thermometer-full","disabled":false,"hidden":false}]