Dashboard-example-flow.json
[{"id":"bda458e3.c86bc8","type":"tab","label":"Dashboard example","disabled":false,"info":""},{"id":"52249c07.eef784","type":"ui_text","z":"bda458e3.c86bc8","group":"65bc2202.5cf74c","order":1,"width":"8","height":1,"name":"Tab 1 greeting","label":"Display string in Tab 1","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":240,"wires":[]},{"id":"baddf197.4dc4a","type":"inject","z":"bda458e3.c86bc8","name":"A string","topic":"","payload":"Hello!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":240,"wires":[["52249c07.eef784"]]},{"id":"f1bcc832.99e718","type":"ui_text","z":"bda458e3.c86bc8","group":"ff98fdc7.efc88","order":1,"width":0,"height":0,"name":"Tab 2 greeting","label":"Display string in Tab 2","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":300,"wires":[]},{"id":"af57cfc8.be4ff","type":"inject","z":"bda458e3.c86bc8","name":"A string","topic":"","payload":"Hello!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":300,"wires":[["f1bcc832.99e718"]]},{"id":"6c31ba66.48f3c4","type":"ui_text","z":"bda458e3.c86bc8","group":"ff4adeca.dd4d6","order":1,"width":0,"height":0,"name":"Tab 3 greeting","label":"Display string in Tab 3","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":360,"wires":[]},{"id":"4c01631f.82eccc","type":"inject","z":"bda458e3.c86bc8","name":"A string","topic":"","payload":"Hello!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":360,"wires":[["6c31ba66.48f3c4"]]},{"id":"47379cce.c773d4","type":"ui_gauge","z":"bda458e3.c86bc8","name":"A gauge widget","group":"65bc2202.5cf74c","order":12,"width":5,"height":5,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":420,"wires":[]},{"id":"f67f7dfa.9c8fc","type":"inject","z":"bda458e3.c86bc8","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":420,"wires":[["47379cce.c773d4"]]},{"id":"1ce26f5c.38cb71","type":"ui_slider","z":"bda458e3.c86bc8","name":"Slide this","label":"slider","tooltip":"","group":"ff98fdc7.efc88","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"200","step":1,"x":280,"y":540,"wires":[["c5d7b322.2817c"]]},{"id":"49c30147.730a5","type":"ui_gauge","z":"bda458e3.c86bc8","name":"A donut","group":"ff98fdc7.efc88","order":2,"width":0,"height":0,"gtype":"donut","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":540,"wires":[]},{"id":"c5d7b322.2817c","type":"range","z":"bda458e3.c86bc8","minin":"0","maxin":"200","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":470,"y":540,"wires":[["49c30147.730a5"]]},{"id":"93eac440.6875f8","type":"random","z":"bda458e3.c86bc8","name":"","low":"1","high":"100","inte":"true","property":"payload","x":720,"y":600,"wires":[["61ffca70.232cc4"]]},{"id":"61ffca70.232cc4","type":"ui_chart","z":"bda458e3.c86bc8","name":"","group":"65bc2202.5cf74c","order":11,"width":5,"height":5,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for data...","dot":true,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":910,"y":660,"wires":[[]]},{"id":"b6213888.b27e58","type":"trigger","z":"bda458e3.c86bc8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-500","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":520,"y":600,"wires":[["93eac440.6875f8"]]},{"id":"a86baeff.c204","type":"inject","z":"bda458e3.c86bc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":600,"wires":[["b6213888.b27e58"]]},{"id":"4f49caa2.b75de4","type":"inject","z":"bda458e3.c86bc8","name":"Clear chart","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":700,"wires":[["61ffca70.232cc4"]]},{"id":"547afd67.5d5a74","type":"ui_form","z":"bda458e3.c86bc8","name":"User's color preference","label":"Select your favourite colours...","group":"ff4adeca.dd4d6","order":3,"width":6,"height":7,"options":[{"label":"Your first name","value":"name","type":"text","required":true,"rows":null},{"label":"Green","value":"green","type":"checkbox","required":false,"rows":null},{"label":"Blue","value":"blue","type":"checkbox","required":false,"rows":null},{"label":"Red","value":"red","type":"checkbox","required":false,"rows":null},{"label":"Date","value":"date","type":"date","required":false,"rows":null}],"formValue":{"name":"","green":false,"blue":false,"red":false,"date":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":410,"y":820,"wires":[["5e740e8b.2ff57"]]},{"id":"5e740e8b.2ff57","type":"ui_text","z":"bda458e3.c86bc8","group":"ff4adeca.dd4d6","order":17,"width":15,"height":3,"name":"Form output","label":"text","format":"{{msg.payload}}","layout":"col-center","x":720,"y":820,"wires":[]},{"id":"3a2dd661.0c135a","type":"ui_numeric","z":"bda458e3.c86bc8","name":"","label":"Enter a number","tooltip":"","group":"65bc2202.5cf74c","order":10,"width":5,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":380,"y":940,"wires":[["5fd33677.b5e638"]]},{"id":"5fd33677.b5e638","type":"ui_gauge","z":"bda458e3.c86bc8","name":"A number","group":"65bc2202.5cf74c","order":13,"width":5,"height":5,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":940,"wires":[]},{"id":"953ff7e1.ed0a38","type":"ui_dropdown","z":"bda458e3.c86bc8","name":"","label":"Choose one","tooltip":"","place":"Select option","group":"65bc2202.5cf74c","order":3,"width":5,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Green","value":"green","type":"str"},{"label":"Red","value":"red","type":"str"},{"label":"Blue","value":"blue","type":"str"},{"label":"White","value":"white","type":"str"}],"payload":"","topic":"","x":370,"y":1040,"wires":[["b78bd2fb.1760a","3d4a0640.bf1a9a"]]},{"id":"b78bd2fb.1760a","type":"debug","z":"bda458e3.c86bc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":1120,"wires":[]},{"id":"3d4a0640.bf1a9a","type":"ui_template","z":"bda458e3.c86bc8","group":"65bc2202.5cf74c","name":"","order":5,"width":3,"height":3,"format":"<div>\n  <p>The number is</p>\n  <font color=\"{{msg.payload}}\"> Greetings in \n    {{msg.payload}}\n  </font>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":670,"y":1040,"wires":[[]]},{"id":"5f77ffac.0d64","type":"ui_button","z":"bda458e3.c86bc8","name":"Button","group":"4ed0d29c.b712ac","order":1,"width":3,"height":1,"passthru":false,"label":"Press me","tooltip":"","color":"blue","bgcolor":"white","icon":"fa-hand-o-down","payload":"Clicked","payloadType":"str","topic":"","x":290,"y":180,"wires":[["dbcc519d.2a855"]]},{"id":"4a388c50.c05104","type":"ui_text","z":"bda458e3.c86bc8","group":"4ed0d29c.b712ac","order":4,"width":3,"height":2,"name":"Button state","label":"Button state","format":"{{msg.payload}}","layout":"col-center","x":730,"y":180,"wires":[]},{"id":"dbcc519d.2a855","type":"trigger","z":"bda458e3.c86bc8","op1":"clicked","op2":"not clicked","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":500,"y":180,"wires":[["4a388c50.c05104"]]},{"id":"312f7342.869d0c","type":"ui_switch","z":"bda458e3.c86bc8","name":"","label":"switch","tooltip":"","group":"4ed0d29c.b712ac","order":3,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"fa-adjust","offcolor":"green","x":290,"y":120,"wires":[["6dcadf0e.e5467"]]},{"id":"6dcadf0e.e5467","type":"ui_text","z":"bda458e3.c86bc8","group":"4ed0d29c.b712ac","order":6,"width":3,"height":2,"name":"Radio state","label":"Radio state","format":"{{msg.payload}}","layout":"col-center","x":730,"y":120,"wires":[]},{"id":"2443ebe.4134f14","type":"ui_dropdown","z":"bda458e3.c86bc8","name":"","label":"Select a color","tooltip":"","place":"Choose one...","group":"6feb9858.0ee178","order":3,"width":"6","height":"1","passthru":true,"multiple":false,"options":[{"label":"Red","value":"red","type":"str"},{"label":"Green","value":"green","type":"str"},{"label":"Blue","value":"blue","type":"str"},{"label":"White","value":"white","type":"str"},{"label":"Black","value":"black","type":"str"}],"payload":"","topic":"","x":390,"y":1280,"wires":[["396f38ae.8a6e78"]]},{"id":"396f38ae.8a6e78","type":"ui_text","z":"bda458e3.c86bc8","group":"6feb9858.0ee178","order":0,"width":"4","height":"1","name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":1280,"wires":[]},{"id":"65bc2202.5cf74c","type":"ui_group","z":"","name":"A widget group","tab":"27cd512d.863dee","order":1,"disp":true,"width":15,"collapse":false},{"id":"ff98fdc7.efc88","type":"ui_group","z":"","name":"Tab 2, Group 1","tab":"21fc2492.a12b1c","order":1,"disp":true,"width":"6","collapse":false},{"id":"ff4adeca.dd4d6","type":"ui_group","z":"","name":"Tab 3, Group 1","tab":"ad830f57.b770e","order":1,"disp":true,"width":15,"collapse":false},{"id":"4ed0d29c.b712ac","type":"ui_group","z":"","name":"Group 2","tab":"21fc2492.a12b1c","order":2,"disp":true,"width":7,"collapse":false},{"id":"6feb9858.0ee178","type":"ui_group","z":"","name":"Tab 2, Group 1","tab":"83f31946.86d138","order":1,"disp":true,"width":"6","collapse":false},{"id":"27cd512d.863dee","type":"ui_tab","z":"","name":"Tab 1","icon":"dashboard","disabled":false,"hidden":false},{"id":"21fc2492.a12b1c","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"ad830f57.b770e","type":"ui_tab","name":"Tab 3","icon":"dashboard","order":3},{"id":"83f31946.86d138","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2}]