DHT22-ex2-flow.json
[{"id":"69bd910b.06e56","type":"tab","label":"DHT22 example","disabled":false,"info":""},{"id":"8b2c150a.41f4c8","type":"rpi-dht22","z":"69bd910b.06e56","name":"DHT22","topic":"rpi-dht22","dht":22,"pintype":"0","pin":"17","x":780,"y":480,"wires":[["3d4b8c88.a9ebb4","5ce62014.66f58","2e7a3bf8.f63194","f261db45.df83d8","ef87d83d.dc7828"]]},{"id":"f5943d48.e3748","type":"inject","z":"69bd910b.06e56","name":"Start sensor readings","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":300,"wires":[["c4779019.8c13d","db89c045.8fb72"]]},{"id":"3d4b8c88.a9ebb4","type":"debug","z":"69bd910b.06e56","name":"Show temperature reading","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1060,"y":520,"wires":[]},{"id":"c4779019.8c13d","type":"trigger","z":"69bd910b.06e56","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-10","extend":false,"units":"s","reset":"","bytopic":"all","name":"Get reading every 10 seconds","x":510,"y":380,"wires":[["8b2c150a.41f4c8","8e8e2723.526338"]],"info":"# What is this node about?\n\nThis node triggers the DHT22 sensor every 10 seconds."},{"id":"db89c045.8fb72","type":"debug","z":"69bd910b.06e56","name":"1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":240,"wires":[]},{"id":"8e8e2723.526338","type":"debug","z":"69bd910b.06e56","name":"2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":300,"wires":[]},{"id":"5ce62014.66f58","type":"debug","z":"69bd910b.06e56","name":"3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1000,"y":460,"wires":[]},{"id":"2e7a3bf8.f63194","type":"change","z":"69bd910b.06e56","d":true,"name":"","rules":[{"t":"set","p":"temperature","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"humidity","pt":"flow","to":"humidity","tot":"msg"},{"t":"set","p":"temperature","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"humidity","pt":"global","to":"humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":360,"wires":[[]]},{"id":"483d3675.f9ec78","type":"inject","z":"69bd910b.06e56","d":true,"name":"Get temperature","topic":"","payload":"temperature","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":700,"wires":[["592bb67f.7fe5c8"]]},{"id":"592bb67f.7fe5c8","type":"debug","z":"69bd910b.06e56","name":"Show flow temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":700,"wires":[]},{"id":"e38087e5.489e58","type":"inject","z":"69bd910b.06e56","d":true,"name":"Get humidity","topic":"","payload":"humidity","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":760,"wires":[["b3098613.92cc38"]]},{"id":"b3098613.92cc38","type":"debug","z":"69bd910b.06e56","name":"Show flow humidity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":760,"wires":[]},{"id":"f261db45.df83d8","type":"function","z":"69bd910b.06e56","name":"Set global and flow variables","func":"flow.set(\"humidity\", msg.humidity);\nflow.set(\"temperature\", msg.payload);\nglobal.set(\"humidity\", msg.humidity);\nglobal.set(\"temperature\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":280,"wires":[[]]},{"id":"c37d2904.672c88","type":"change","z":"69bd910b.06e56","name":"Clean all variables","rules":[{"t":"delete","p":"temperature","pt":"flow"},{"t":"delete","p":"humidity","pt":"flow"},{"t":"delete","p":"temperature","pt":"global"},{"t":"delete","p":"humidity","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"Variables deleted.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":880,"wires":[["ccf5ae69.f2295"]]},{"id":"3422960b.48d74a","type":"inject","z":"69bd910b.06e56","name":"Trigger cleanup","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":880,"wires":[["c37d2904.672c88"]]},{"id":"c5be5322.0a427","type":"function","z":"69bd910b.06e56","name":"Set global and flow variables","func":"// humidity = flow.get(\"humidity\", msg.humidity);\n// temperature = flow.get(\"temperature\", msg.payload);\n\n\nhumidity = flow.get(\"humidity\");\ntemperature = flow.get(\"temperature\");\n\nreturn [{payload: temperature},{payload:humidity}];","outputs":2,"noerr":0,"x":320,"y":620,"wires":[["592bb67f.7fe5c8"],["b3098613.92cc38"]]},{"id":"3d940ed8.67d662","type":"inject","z":"69bd910b.06e56","name":"Trigger","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":620,"wires":[["c5be5322.0a427"]]},{"id":"ccf5ae69.f2295","type":"debug","z":"69bd910b.06e56","name":"Delete confirmation","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":960,"y":880,"wires":[]},{"id":"ef87d83d.dc7828","type":"debug","z":"69bd910b.06e56","name":"Show humidity reading","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"humidity","targetType":"msg","x":1040,"y":560,"wires":[]}]