DHT22-ex1-flow.json
[{"id":"3d3321b0.fe930e","type":"tab","label":"DHT22 sensor","disabled":false,"info":""},{"id":"cea70fb8.afa78","type":"rpi-dht22","z":"3d3321b0.fe930e","name":"Sensor","topic":"rpi-dht22","dht":22,"pintype":"0","pin":"17","x":560,"y":160,"wires":[["bb3e395f.ea8918","dad484ff.dbe488"]]},{"id":"bb3e395f.ea8918","type":"debug","z":"3d3321b0.fe930e","name":"Sensor","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":760,"y":160,"wires":[]},{"id":"22818eaf.0e83c2","type":"trigger","z":"3d3321b0.fe930e","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":350,"y":160,"wires":[["cea70fb8.afa78","d51e0655.bce618"]]},{"id":"ba1fe247.8612e","type":"inject","z":"3d3321b0.fe930e","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":160,"wires":[["22818eaf.0e83c2","70118c93.2f74e4"]]},{"id":"70118c93.2f74e4","type":"debug","z":"3d3321b0.fe930e","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":300,"y":260,"wires":[]},{"id":"d51e0655.bce618","type":"debug","z":"3d3321b0.fe930e","name":"2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":260,"wires":[]},{"id":"dad484ff.dbe488","type":"debug","z":"3d3321b0.fe930e","name":"3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":740,"y":260,"wires":[]}]