Dropdown-template-flow.json
[{"id":"cb8a6238.cf1e4","type":"tab","label":"Dropdown & template","disabled":false,"info":""},{"id":"8fb8c1cb.26645","type":"ui_dropdown","z":"cb8a6238.cf1e4","name":"","label":"Select","tooltip":"","place":"Select option","group":"ceb1c3da.3f6d4","order":0,"width":"8","height":"1","passthru":true,"multiple":false,"options":[{"label":"Green","value":"green","type":"str"},{"label":"Blue","value":"blue","type":"str"},{"label":"Red","value":"red","type":"str"},{"label":"White","value":"white","type":"str"},{"label":"Black","value":"black","type":"str"}],"payload":"","topic":"","x":440,"y":320,"wires":[["52945270.c94cdc","6276c77f.51fdb8"]]},{"id":"52945270.c94cdc","type":"ui_text","z":"cb8a6238.cf1e4","group":"ceb1c3da.3f6d4","order":1,"width":"8","height":"1","name":"","label":"You chose...","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":320,"wires":[]},{"id":"6276c77f.51fdb8","type":"ui_template","z":"cb8a6238.cf1e4","group":"ceb1c3da.3f6d4","name":"","order":2,"width":"3","height":"2","format":"<div>\n  <p>The color is </p>\n  <font color=\"{{msg.payload}}\"> Greetings in \n    {{msg.payload}}\n  </font>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":740,"y":420,"wires":[[]]},{"id":"ceb1c3da.3f6d4","type":"ui_group","z":"","name":"Dropdown group","tab":"7ad701bf.dcd04","order":3,"disp":true,"width":"8","collapse":false},{"id":"7ad701bf.dcd04","type":"ui_tab","z":"","name":"Tab 1","icon":"fa-thermometer-full","disabled":false,"hidden":false}]