dweetio-flow.json
[{"id":"d03aa4f7.f82048","type":"tab","label":"DWEET.IO","disabled":true,"info":""},{"id":"c2664992.3588a8","type":"inject","z":"d03aa4f7.f82048","name":"Make new dweet","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":260,"wires":[["e2741e1c.6344e"]]},{"id":"6f5daef7.fdeea","type":"debug","z":"d03aa4f7.f82048","name":"Post response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1060,"y":260,"wires":[]},{"id":"e2741e1c.6344e","type":"function","z":"d03aa4f7.f82048","name":"Create webhook content","func":"return {payload: {message: \"Hello from Node Red 2\"}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":260,"wires":[["b5a35307.3b6428","2db9415b.b77bae"]]},{"id":"b5a35307.3b6428","type":"http request","z":"d03aa4f7.f82048","name":"Post to Dweet","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://dweet.io/dweet/for/petersnodered","tls":"","persist":false,"proxy":"","authType":"","x":840,"y":260,"wires":[["6f5daef7.fdeea"]]},{"id":"a3c2cd5a.3f99c","type":"comment","z":"d03aa4f7.f82048","name":"Dweet.io documentation","info":"# See Dweet documentation and URLs:\n\nhttps://dweet.io/play/\n\nBase URL: dweet.io\n\n","x":350,"y":140,"wires":[]},{"id":"58dc84ec.2c6f8c","type":"inject","z":"d03aa4f7.f82048","name":"Get last dweet","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":480,"wires":[["ea444526.7ed53"]]},{"id":"b6ab4e16.29cbd","type":"debug","z":"d03aa4f7.f82048","name":"Post response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1060,"y":480,"wires":[]},{"id":"ea444526.7ed53","type":"http request","z":"d03aa4f7.f82048","name":"Post to Dweet","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://dweet.io/get/latest/dweet/for/petersnodered","tls":"","persist":false,"proxy":"","authType":"","x":820,"y":480,"wires":[["b6ab4e16.29cbd"]]},{"id":"2db9415b.b77bae","type":"debug","z":"d03aa4f7.f82048","name":"Request payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":200,"wires":[]}]