gauge-flow.json
[{"id":"55a0d901.0e7488","type":"tab","label":"Gauge","disabled":false,"info":""},{"id":"aa0b21e1.9bb88","type":"ui_gauge","z":"55a0d901.0e7488","name":"A regular gauge","group":"239cbc3e.1bf3fc","order":1,"width":6,"height":6,"gtype":"gage","title":"Gauge","label":"km/s","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":300,"wires":[]},{"id":"ed864dfa.3698a","type":"inject","z":"55a0d901.0e7488","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"4","payloadType":"num","x":530,"y":300,"wires":[["aa0b21e1.9bb88","ea54915b.c968e","4c8c007.2f762","57ddfb73.2bdcc4"]]},{"id":"ea54915b.c968e","type":"ui_gauge","z":"55a0d901.0e7488","name":"A donut gauge","group":"239cbc3e.1bf3fc","order":2,"width":6,"height":6,"gtype":"donut","title":"Donut","label":"km/s","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":360,"wires":[]},{"id":"4c8c007.2f762","type":"ui_gauge","z":"55a0d901.0e7488","name":"A campass gauge","group":"239cbc3e.1bf3fc","order":3,"width":6,"height":6,"gtype":"compass","title":"Compass","label":"km/s","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":420,"wires":[]},{"id":"57ddfb73.2bdcc4","type":"ui_gauge","z":"55a0d901.0e7488","name":"A level gauge","group":"239cbc3e.1bf3fc","order":4,"width":6,"height":6,"gtype":"wave","title":"Level","label":"km/s","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":480,"wires":[]},{"id":"e2d61563.a338f8","type":"ui_slider","z":"55a0d901.0e7488","name":"An example slider","label":"Slider","tooltip":"","group":"239cbc3e.1bf3fc","order":6,"width":12,"height":1,"passthru":true,"outs":"all","topic":"","min":0,"max":"200","step":1,"x":350,"y":480,"wires":[["4c7f47f3.9d6768"]]},{"id":"4c7f47f3.9d6768","type":"range","z":"55a0d901.0e7488","minin":"0","maxin":"200","minout":"0","maxout":"20","action":"scale","round":true,"property":"payload","name":"","x":550,"y":480,"wires":[["aa0b21e1.9bb88","ea54915b.c968e","4c8c007.2f762","57ddfb73.2bdcc4"]]},{"id":"239cbc3e.1bf3fc","type":"ui_group","z":"","name":"Gauges","tab":"","order":1,"disp":true,"width":"12","collapse":false}]