ifttt-flow.json
[{"id":"63e5c13f.80bc38","type":"tab","label":"IFTTT","disabled":true,"info":""},{"id":"43c01773.2a033","type":"inject","z":"63e5c13f.80bc38","name":"Trigger http request","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":370,"y":240,"wires":[["546a8aaa.5b47a4"]]},{"id":"86202344.a9e9b","type":"debug","z":"63e5c13f.80bc38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":240,"wires":[]},{"id":"546a8aaa.5b47a4","type":"function","z":"63e5c13f.80bc38","name":"Create webhook content","func":"return {payload: {\"value1\": \"Hello from Node Red\"}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":240,"wires":[["e6c29d14.c6e2b"]]},{"id":"e6c29d14.c6e2b","type":"http request","z":"63e5c13f.80bc38","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://maker.ifttt.com/trigger/MCU_voltage_notification2/with/key/<your_key>","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":240,"wires":[["86202344.a9e9b"]]},{"id":"5624e45f.b1db4c","type":"comment","z":"63e5c13f.80bc38","name":"The webhoook URL","info":"The webhook url looks like this:\n\nhttps://maker.ifttt.com/trigger/<the trigger name>/with/key/<your IFTTT webook account key>","x":930,"y":180,"wires":[]}]
