Inject-Function-flow.json
[{"id":"d1c35b9e.a01ee8","type":"tab","label":"Inject and Function Example","disabled":false,"info":""},{"id":"546357de.ef36b8","type":"inject","z":"d1c35b9e.a01ee8","name":"Inject nod","topic":"Hello","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":260,"wires":[["e61be81e.30b578"]]},{"id":"bd73a3d0.de83c","type":"debug","z":"d1c35b9e.a01ee8","name":"msg1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":140,"wires":[]},{"id":"e61be81e.30b578","type":"function","z":"d1c35b9e.a01ee8","name":"test","func":"\n// Change the payload to be a formatted Date string\nvar msg1 = { payload:\"1\" };\nvar msg2 = { payload:\"2\" };\nvar msg3 = { payload:\"3\" };\n// Return the message so it can be sent on\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"x":500,"y":260,"wires":[["bd73a3d0.de83c","1c56988f.61a6f7"],["1c56988f.61a6f7"],["a81724a5.0c3af8"]]},{"id":"1c56988f.61a6f7","type":"debug","z":"d1c35b9e.a01ee8","name":"msg2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":260,"wires":[]},{"id":"a81724a5.0c3af8","type":"debug","z":"d1c35b9e.a01ee8","name":"msg3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":760,"y":360,"wires":[]}]