mqtt-example-flows.json
[{"id":"b18c896d.f22208","type":"tab","label":"MQTT examples","disabled":false,"info":""},{"id":"c9a21713.1a1af8","type":"mqtt in","z":"b18c896d.f22208","name":"Get a number","topic":"nodered/number","qos":"0","datatype":"auto","broker":"693ee85f.c34638","x":390,"y":320,"wires":[["81c1e053.0e131","a0344fd1.0f04b","f260d49e.1773c8"]]},{"id":"81c1e053.0e131","type":"ui_gauge","z":"b18c896d.f22208","name":"","group":"9abada3f.558708","order":4,"width":6,"height":6,"gtype":"gage","title":"MQTT number","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":260,"wires":[]},{"id":"a0344fd1.0f04b","type":"ui_text","z":"b18c896d.f22208","group":"9abada3f.558708","order":2,"width":3,"height":1,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-right","x":630,"y":320,"wires":[]},{"id":"170c546e.dcca1c","type":"mqtt out","z":"b18c896d.f22208","name":"MQTT out","topic":"nodered/number","qos":"0","retain":"true","broker":"693ee85f.c34638","x":640,"y":540,"wires":[]},{"id":"aa68343a.f67ff8","type":"ui_slider","z":"b18c896d.f22208","name":"","label":"Slider","tooltip":"","group":"10a3e6cd.962db9","order":0,"width":"6","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":400,"y":540,"wires":[["170c546e.dcca1c"]]},{"id":"f260d49e.1773c8","type":"debug","z":"b18c896d.f22208","name":"MQTT in","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":640,"y":380,"wires":[]},{"id":"693ee85f.c34638","type":"mqtt-broker","z":"","name":"Local broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"techexplorations/esp32/test","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9abada3f.558708","type":"ui_group","z":"","name":"Number","tab":"534273b3.62d21c","order":1,"disp":true,"width":"6","collapse":false},{"id":"10a3e6cd.962db9","type":"ui_group","z":"","name":"MQTT out","tab":"534273b3.62d21c","order":2,"disp":true,"width":"6","collapse":false},{"id":"534273b3.62d21c","type":"ui_tab","z":"","name":"MQTT examples","icon":"dashboard","order":3,"disabled":false,"hidden":false}]