Switch-flow.json
[{"id":"df711f75.f1c1c","type":"tab","label":"Switch","disabled":true,"info":""},{"id":"a8deb00d.7764b","type":"switch","z":"df711f75.f1c1c","name":"Switch node","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"5","vt":"str"},{"t":"lte","v":"5","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":430,"y":280,"wires":[["c933089e.5aef08"],["6e8ccc1f.53fbc4"]]},{"id":"c933089e.5aef08","type":"debug","z":"df711f75.f1c1c","name":">5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":220,"wires":[]},{"id":"6e8ccc1f.53fbc4","type":"debug","z":"df711f75.f1c1c","name":"<=5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":320,"wires":[]},{"id":"f7f94aa0.95c278","type":"inject","z":"df711f75.f1c1c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":190,"y":280,"wires":[["a8deb00d.7764b"]]}]