websockets-flow.json
[{"id":"d7b19e61.1c0838","type":"tab","label":"Websockets","disabled":true,"info":""},{"id":"ed084af1.c00d3","type":"inject","z":"d7b19e61.1c0838","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":140,"wires":[["bea1735.564f41"]]},{"id":"bea1735.564f41","type":"websocket out","z":"d7b19e61.1c0838","name":"Send to local websocket","server":"","client":"d2016f5b.78ad38","x":540,"y":140,"wires":[]},{"id":"978e3e2e.3c3388","type":"websocket in","z":"d7b19e61.1c0838","name":"Receive from local websocket","server":"ab076e57.c3f5c8","client":"","x":310,"y":240,"wires":[["359c66e6.bb752a"]]},{"id":"359c66e6.bb752a","type":"debug","z":"d7b19e61.1c0838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":240,"wires":[]},{"id":"f979a3d4.755d","type":"websocket in","z":"d7b19e61.1c0838","name":"Receive from remote websocket","server":"","client":"75375352.43d24c","x":310,"y":500,"wires":[["322ba195.36e376"]]},{"id":"322ba195.36e376","type":"debug","z":"d7b19e61.1c0838","name":"","active":true,"console":"false","complete":"false","x":593.5994262695312,"y":501,"wires":[]},{"id":"4d449753.671338","type":"inject","z":"d7b19e61.1c0838","name":"","props":[{"p":"payload","v":"Hello There","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"topic":"","payload":"Hello There","payloadType":"str","x":270,"y":440,"wires":[["d832d091.0dbb88"]]},{"id":"d832d091.0dbb88","type":"websocket out","z":"d7b19e61.1c0838","name":"Send to remote websocket","server":"","client":"75375352.43d24c","x":640,"y":440,"wires":[]},{"id":"8e5ddc83.becf7","type":"comment","z":"d7b19e61.1c0838","name":"Sources","info":"Example using the external websocket echo server from \n\nhttp://noderedguide.com/node-red-lecture-3-example-3-7-using-websockets-with-node-red/\n\nand \n\nhttps://www.websocket.org/echo.html","x":240,"y":360,"wires":[]},{"id":"751996c6.98a188","type":"comment","z":"d7b19e61.1c0838","name":"Read more","info":"Learn abour websockets and how you can use the in Python\n\nhttps://websockets.readthedocs.io/en/stable/intro.html\n\nhttps://www.websocket.org/quantum.html\n\nhttps://en.wikipedia.org/wiki/WebSocket","x":250,"y":80,"wires":[]},{"id":"d2016f5b.78ad38","type":"websocket-client","z":"","path":"ws://localhost:1880/ws/request","tls":"","wholemsg":"false"},{"id":"ab076e57.c3f5c8","type":"websocket-listener","z":"","path":"/ws/request","wholemsg":"false"},{"id":"75375352.43d24c","type":"websocket-client","path":"wss://echo.websocket.org","wholemsg":"false"}]